<form class="form-note">
  <div align="center">  <%= image_tag("ruby.gif", :alt => "Image index") %>
  <!--<img src="ruby.gif" alt="..." class="img-rounded" width="185" height="60"> -->
  <br><br><br><br>
  <!-- Barre de recherche vers api imdb-->
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <%= form_tag("/search", method: "get") do %>
        <%= text_field_tag 'q', nil, placeholder: 'Enter search term...' %>
        <%= submit_tag("Rechercher", :class => 'btn btn-default') %>
      <% end %>
    </div>
    <% unless @tests.nil? || @tests == 0 %>
      <table>
        <thead>
          <tr>
            <th>Titre</th>
            <th>Lien</th>&nbsp;
            <th>Ajouter</th>
          </tr>
        </thead>

        <tbody>
          <% @tests.take(7).each do |movie| %>
            <tr>
              <td><%= movie.title %></td>
              <td><a href="<%= movie.url %>" target="_blank">Voir sur Imdb</a></td>
              <td><a href="/?v=<%= movie.id %>">Ajouter</a></td>
            </tr>
          <% end %>
        </tbody> 
      </table>
    <% end %>
    <!-- <p class="navbar-text pull-right"> -->
    <% if user_signed_in? %>
      <br />Logged in as <strong><%= current_user.email %></strong>.<br />
     <!-- modification profil-->
      <%= link_to 'Modifier profil', edit_user_registration_path, :class => 'btn btn-default navbar-btn' %> |
      <!-- Déconnexion-->
      <%= link_to "Deconnexion", destroy_user_session_path, method: :delete, :class => 'btn btn-default navbar-btn'  %> |
      <%= link_to 'Mes films', movies_path, :class => 'btn btn-default navbar-btn' %>

    <% else %>
    <!-- Inscription-->
      <%= link_to "Inscription", new_user_registration_path, :class => 'btn btn-default navbar-btn'  %> |
      <!-- Connexion-->
      <%= link_to "Connexion", new_user_session_path, :class => 'btn btn-default navbar-btn'  %>
    <% end %>

    
    <!-- </p> -->
  
  </form>
  </div>
</form>

