<form class="form-note">
  <div align="center">  <%= image_tag("ruby.gif", :alt => "Image index") %>
  <!--<img src="ruby.gif" alt="..." class="img-rounded" width="185" height="60"> -->
  <br><br><br><br>
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <%= form_tag("/search", method: "get") do %>
        <%= text_field_tag(:q, 'Tapez votre recherche ici ...') %>
        <%= submit_tag("Rechercher", :class => 'btn btn-default') %>
      <% end %>
    </div>

    <br><br><br><br><br><br><br><br>

    <!-- <p class="navbar-text pull-right"> -->
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-default navbar-btn' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-default navbar-btn'  %> |
      <%= link_to 'New Movie', new_movie_path, :class => 'btn btn-default navbar-btn' %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-default navbar-btn'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'btn btn-default navbar-btn'  %>
    <% end %>

    
    <!-- </p> -->
  
  </form>
  </div>
</form>



<!--
<h1>Mes vidéos</h1>

<table>
  <thead>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.movie_id %></td>
        <td><%= link_to 'Supprimer', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>url</th>
      <th>title</th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |movie| %>
      <tr>
        <td><%= movie.id %></td>
        <td><%= movie.url %></td>
        <td><%= movie.title %></td>
      </tr>
    <% end %>
  </tbody> 
</table>

<br>

-->